.tile-carousel {
	width: 100%;
	overflow: auto;
  white-space: nowrap;
  margin-bottom: 50px;
}

.tile-carousel  div.contextual-region > * {
  white-space: normal;
}

.tile-carousel .views-row:last-child > * {
  margin-right: 0px;
}

.tile-carousel div .contextual-region div.views-row {
	display: inline-block;
}
